<html>
    <head>
        <title>Yujin's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 24.12.2018, 12:40</p>
            <h2><a href=""> My first post</a></h2>
            <p>templete example first one!</p>
        </div>

        <div>
            <p>published: 24.12.2018, 12:40</p>
            <h2><a href=""> My second post</a></h2>
            <p>templete example second one!</p>
        </div>
    </body>
</html>